<div>
  <h2>Course-Students</h2>
  <div class="table-wrapper">
    <table class="fl-table">
      <tbody *ngFor="let field of coursesWithStudents">
      <tr>
        <td colspan="2">
          <b>{{field.courseName}}</b>
        </td>
      </tr>
      <ol>
        <li *ngFor="let student of field.studentList">
          <tr style="width: 100% !important;">
            <td>{{student.studentName}}</td>
            <td *ngIf="isAdmin() || isTeacher()">{{student.grade}}</td>
          </tr>
        </li>
      </ol>
      <tr>
        <td colspan="2" *ngIf="isTeacher() || isAdmin()">
          Average grade: {{field.averageGrade}}
        </td>
      </tr>
      <tbody>
    </table>
  </div>
</div>

