<div>
  <h2>Course-Students</h2>
  <div class="table-wrapper">
    <table class="fl-table">
      <tbody *ngFor="let field of coursesWithStudents">
      <tr>
        <td></td>
        <td>
          <b>{{field.courseName}}</b>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>No:</td>
        <td>Student:</td>
        <td>Grade:</td>  
      </tr>
      <tr *ngFor="let student of field.studentList; let indexOfElement = index">
        <td>{{indexOfElement + 1}}</td>
        <td>{{student.studentName}}</td>
        <td *ngIf="isAdmin() || isTeacher()">{{student.grade}}</td>
      </tr>
      
      <tr>
        <td></td>
        <td style="text-align: right !important;">Average grade:</td>
        <td *ngIf="isTeacher() || isAdmin()">
           {{field.averageGrade}}
        </td>
      </tr>
      <tbody>
    </table>
  </div>
</div>

